# I want lf as the line endings!
* text eol=lf

# Autodetect text files
* text=auto

# Definitively text files
*.txt	text
*.c		text
*.h		text
*.sh	text
*.html	text
*.css	text
*.svg	text
*.json	text
*.js	text
*.py	text
*.pl	text
*.java	text

# Ensure those won't be messed up with
*.data binary
*.log binary

# Denote all files that are truly binary and should not be modified.
*.exe	binary
*.mp3	binary
*.mp4	binary
*.png	binary
*.jpg	binary
*.JPG	binary
*.jpeg	binary
*.JPEG	binary
*.gz	binary
*.tgz	binary
*.7z	binary
*.bz	binary
*.iso	binary
*.img	binary
