# this files belongs in /etc/systemd/network/
# static Ip address 

[Match]
Name=enp2s0

[Network]
IPv6PrivacyExtensions=yes
#DHCP=v4
# static IP
# 192.168.1.10 netmask 255.255.255.0
Address=192.168.1.10/24
Gateway=192.168.1.1
DNS=192.168.1.1

[DHCPv4]
RouteMetric=512

[DHCPv6]
RouteMetric=512
