# this files belongs in /etc/systemd/network/
# static Ip address 

[Match]
Name=enp2s0
Name=eth*

[Network]
# static IP
# 192.168.1.10 netmask 255.255.255.0
Address=192.168.1.10/24
Gateway=192.168.1.1
DNS=192.168.1.1

IPv6PrivacyExtensions=yes

